body {
    background-color: #301955;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.buttonContainer button {
  font-family: "VT323", monospace;
  font-size: 1.5em;
  color: #e5caff;
  background-color: rgb(0, 0, 0);
  align-items: center;
  
}

.buttonContainer button:hover {
    background-color: #4b4b4ba1;
}

.reload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.reload-container button {
  font-family: "VT323", monospace;
  font-size: 1.5em;
  color: #e5caff;
  background-color: rgb(0, 0, 0);
  align-items: center;
}

.reload-container button:hover {
    background-color: #4b4b4ba1;

}

p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'VT323', monospace;
    color:#ffcc00;
}

h1 {
    text-align: center;
    color: #ffcc00;
    font-family: 'Press Start 2P', cursive;
}